.loginButton {
  width: 100%;
  height: 35px
}

#app {
  width: 100%;
}

.window {
  background-color: #fcfcfc
  min-height: 100%;
  width: 100%;
  height: 100%; /* NEW */
}

.window-content {
  min-height: 100%;
  width: 100%;
  height: 100%; /* NEW */
}

.work {
  background-color: #F44336;
  transition: background 0.25s ease;
}

.filler {
  z-index: 40;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  right: 0px;
}

.work .filler {
  background-color: #e23f42;
  border: 15px #e23f42 solid;
}

.break .filler {
  background-color: #5daa40;
  border: 15px #5daa40 solid;
}

.break {
  background-color: #8BC34A;
  transition: background 0.25s ease;
}

.buttons {
  padding-top: 20px;
  display: flex;           /* establish flex container */
  flex-direction: row;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.buttons .tick {
  background-color: #fcfcfc;
  border-radius: 50%;
}

.tick span {
  font-size: 20px;
  padding: 10px;
}

.buttons .button {
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
  border: 2px #fcfcfc solid;
}

.buttons .active {
  background-color: #fcfcfc;
}

.break {
  transition: background 0.25s ease;
}

.timer {
  padding-top: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.clock {
  overflow: hidden;
  cursor: pointer;
  padding-top: 50px;
  width: 300px;
  margin: 0 auto;
  border-radius: 200px;
  border: 15px #fcfcfc solid;
  height: 300px;
  position: relative;

}

.clock .display {
  position: relative;
  z-index: 100;
  cursor: pointer;
  display: flex;           /* establish flex container */
  flex-direction: row;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}

.clock .seconds {
  cursor: pointer;
  font-size: 50px;
  color: rgba(255,255,255, 0.65);
  padding-bottom: 32px
}

.clock .minutes {
  cursor: pointer;
  margin-right: 5px;
  font-size: 100px;
  color: rgba(255,255,255, 0.65)
}

.logoContainer {
  text-align: center;
}


.logo {
  width: 150px

}

.create-account {
  padding-top: 10px

}

.create-account a {
  color: black;
  text-decoration: none;
}

.padded-more {
  width: 100%
}
